# 杭州萧山区项目`WRF-CMAQ`模拟分析
## 观测结果预处理：*`MET-Data`*

---
*@author: Evan*\
*@date: 2023-07-02*

In [1]:
import xarray as xr
import numpy as np
import pandas as pd

import sys
sys.path.append('../../src/')
from namelist import *

# silence the warning note
import warnings
warnings.filterwarnings("ignore")

In [2]:
# 读取原始数据
xls=pd.read_excel('F:/Data/Project_Xiaoshan/202209/obsdata/6city_origindata.xlsx',header=0,na_values=['—',-99])
xls

,Year,Month,Day,Hour,AQI,PM2.5,PM2.5_24h,PM10,PM10_24h,SO2,SO2_24h,NO2,NO2_24h,O3,O3_24h,O3_8h,O3_8h_24h,CO,CO_24h,Station
0,2022,1,1,0,66.0,43.0,63.0,81.0,124.0,10.0,12.0,45.0,65.0,46.0,74.0,45.0,56.0,0.5,0.9,1
1,2022,1,1,1,60.0,41.0,62.0,70.0,121.0,9.0,12.0,47.0,63.0,40.0,74.0,40.0,40.0,0.5,0.8,1
2,2022,1,1,2,55.0,37.0,61.0,59.0,118.0,9.0,12.0,55.0,62.0,31.0,74.0,36.0,40.0,0.4,0.8,1
3,2022,1,1,3,54.0,36.0,60.0,58.0,115.0,9.0,12.0,53.0,62.0,28.0,74.0,33.0,40.0,0.4,0.8,1
4,2022,1,1,4,58.0,40.0,59.0,66.0,113.0,10.0,12.0,51.0,61.0,27.0,74.0,32.0,40.0,0.5,0.8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
544891,2023,5,31,19,56.0,24.0,36.0,62.0,99.0,4.0,4.0,22.0,18.0,128.0,175.0,161.0,166.0,0.5,0.5,44
544892,2023,5,31,20,55.0,24.0,34.0,59.0,97.0,4.0,4.0,17.0,17.0,125.0,175.0,155.0,166.0,0.5,0.5,44
544893,2023,5,31,21,65.0,32.0,34.0,79.0,97.0,4.0,4.0,17.0,17.0,111.0,175.0,147.0,166.0,0.5,0.5,44
544894,2023,5,31,22,80.0,42.0,34.0,109.0,97.0,3.0,4.0,19.0,17.0,96.0,175.0,138.0,166.0,0.5,0.5,44
544895,2023,5,31,23,82.0,40.0,34.0,114.0,98.0,3.0,4.0,18.0,17.0,92.0,175.0,129.0,166.0,0.5,0.5,44

In [3]:

# 将日期与时间列合并
xls['datetime'] = pd.to_datetime(xls['Year'].astype(str)+'-'+xls['Month'].astype(str)+'-'+xls['Day'].astype(str)+' '+xls['Hour'].apply(lambda x: '{0:0>2}'.format(x)))

# 删除“日期”列和“时间”列
xls.drop(['Year','Month','Day','Hour'], axis=1, inplace=True)

# 设置为索引
xls.set_index('datetime',inplace=True)
xls

,AQI,PM2.5,PM2.5_24h,PM10,PM10_24h,SO2,SO2_24h,NO2,NO2_24h,O3,O3_24h,O3_8h,O3_8h_24h,CO,CO_24h,Station
datetime,,,,,,,,,,,,,,,,
2022-01-01 00:00:00,66.0,43.0,63.0,81.0,124.0,10.0,12.0,45.0,65.0,46.0,74.0,45.0,56.0,0.5,0.9,1
2022-01-01 01:00:00,60.0,41.0,62.0,70.0,121.0,9.0,12.0,47.0,63.0,40.0,74.0,40.0,40.0,0.5,0.8,1
2022-01-01 02:00:00,55.0,37.0,61.0,59.0,118.0,9.0,12.0,55.0,62.0,31.0,74.0,36.0,40.0,0.4,0.8,1
2022-01-01 03:00:00,54.0,36.0,60.0,58.0,115.0,9.0,12.0,53.0,62.0,28.0,74.0,33.0,40.0,0.4,0.8,1
2022-01-01 04:00:00,58.0,40.0,59.0,66.0,113.0,10.0,12.0,51.0,61.0,27.0,74.0,32.0,40.0,0.5,0.8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-05-31 19:00:00,56.0,24.0,36.0,62.0,99.0,4.0,4.0,22.0,18.0,128.0,175.0,161.0,166.0,0.5,0.5,44
2023-05-31 20:00:00,55.0,24.0,34.0,59.0,97.0,4.0,4.0,17.0,17.0,125.0,175.0,155.0,166.0,0.5,0.5,44
2023-05-31 21:00:00,65.0,32.0,34.0,79.0,97.0,4.0,4.0,17.0,17.0,111.0,175.0,147.0,166.0,0.5,0.5,44
2023-05-31 22:00:00,80.0,42.0,34.0,109.0,97.0,3.0,4.0,19.0,17.0,96.0,175.0,138.0,166.0,0.5,0.5,44
2023-05-31 23:00:00,82.0,40.0,34.0,114.0,98.0,3.0,4.0,18.0,17.0,92.0,175.0,129.0,166.0,0.5,0.5,44

In [4]:
# 将所有因包含括号等字符被读取为字符串的数据设置为空值
xls = xls.replace(to_replace=[r'\(.*?\)'], value=np.nan, regex=True)

In [5]:
sep2022 = xls.loc['2022-09']
sep2022

,AQI,PM2.5,PM2.5_24h,PM10,PM10_24h,SO2,SO2_24h,NO2,NO2_24h,O3,O3_24h,O3_8h,O3_8h_24h,CO,CO_24h,Station
datetime,,,,,,,,,,,,,,,,
2022-09-01 00:00:00,40.0,27.0,16.0,40.0,29.0,6.0,6.0,17.0,19.0,70.0,119.0,87.0,97.0,0.6,0.6,1
2022-09-01 01:00:00,26.0,8.0,16.0,23.0,29.0,5.0,6.0,11.0,18.0,82.0,119.0,82.0,82.0,0.4,0.6,1
2022-09-01 02:00:00,25.0,6.0,16.0,21.0,29.0,6.0,6.0,14.0,18.0,79.0,119.0,80.0,82.0,0.4,0.6,1
2022-09-01 03:00:00,22.0,9.0,16.0,22.0,28.0,6.0,6.0,16.0,18.0,70.0,119.0,77.0,82.0,0.4,0.6,1
2022-09-01 04:00:00,27.0,17.0,16.0,27.0,29.0,6.0,6.0,18.0,19.0,61.0,119.0,73.0,82.0,0.5,0.6,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-09-30 19:00:00,51.0,30.0,24.0,52.0,44.0,8.0,22.0,49.0,30.0,70.0,158.0,127.0,129.0,0.8,0.7,44
2022-09-30 20:00:00,60.0,33.0,25.0,70.0,46.0,8.0,23.0,68.0,32.0,56.0,158.0,119.0,129.0,0.8,0.7,44
2022-09-30 21:00:00,66.0,42.0,26.0,82.0,47.0,40.0,24.0,85.0,34.0,42.0,158.0,107.0,129.0,0.9,0.7,44
2022-09-30 22:00:00,64.0,32.0,26.0,77.0,49.0,12.0,23.0,34.0,34.0,90.0,158.0,100.0,129.0,0.8,0.7,44
2022-09-30 23:00:00,50.0,27.0,26.0,50.0,49.0,5.0,21.0,29.0,34.0,85.0,158.0,91.0,129.0,0.7,0.7,44

In [6]:
sep2022.to_excel('D:/Download/6city_2209.xlsx',index=True)

In [7]:
sites = pd.read_excel('F:/Data/Project_Xiaoshan/202209/obsdata/6city_sites.xlsx')
sites

    城市              站点          经度         纬度
0   杭州              滨江  120.210999  30.209999
1   杭州              西溪  120.063004  30.274700
2   杭州        千岛湖(对照点)  119.026001  29.635000
3   杭州              下沙  120.348000  30.305799
4   杭州             卧龙桥  120.126999  30.245600
5   杭州            浙江农大  120.190002  30.269199
6   杭州            朝晖五区  120.156998  30.289700
7   杭州            和睦小学  120.120003  30.311899
8   杭州             临平镇  120.301003  30.418301
9   杭州             城厢镇  120.269997  30.181900
10  杭州              云栖  120.087997  30.180799
11  杭州             镇二中  119.946400  30.049400
12  杭州            市府大楼  119.718300  30.236700
13  杭州            消防大队  120.155600  30.286400
14  绍兴             袍江站  120.598000  30.091101
15  绍兴           城东开发委  120.605003  29.991899
16  绍兴            市环保站  120.575996  30.007000
17  绍兴            树下王站  120.778900  30.003300
18  绍兴            绍兴中专         NaN        NaN
19  绍兴           柯桥区政府         NaN        NaN
20  绍兴            重华小学         NaN        NaN
21  绍兴            上虞中学         NaN        NaN
22  绍兴            柯桥妇保         NaN        NaN
23  绍兴            袍江中学         NaN        NaN
24  嘉兴            清河小学  120.744003  30.794600
25  嘉兴            嘉兴学院  120.725998  30.747801
26  嘉兴             监测站  120.763000  30.756700
27  嘉兴           南湖区残联  120.784447  30.752501
28  嘉兴            秀洲住建         NaN        NaN
29  湖州            城北水厂  120.099998  30.886700
30  湖州            城西水厂  120.070000  30.824400
31  湖州            吉山新村  120.093002  30.861700
32  湖州           仁皇山新区  120.087502  30.895559
33  湖州            吴兴区站  120.184402  30.859600
34  湖州            南浔区站         NaN        NaN
35  宣城            鳌峰子站  118.758102  30.944700
36  宣城           敬亭山子站  118.738602  30.974199
37  宣城           开发区子站  118.717499  30.943100
38  宣城            夏渡子站         NaN        NaN
39  金华    四中(停运161031)  119.649002  29.113100
40  金华             十五中  119.647003  29.077000
41  金华             监测站  119.685997  29.102900
42  金华  武警支队(启用161031)  119.653297  29.112801
43  金华             气象局         NaN        NaN

In [17]:
# 根据站点分组导出
grouped = sep2022.groupby('Station')
i=0
for group_name, group_df in grouped:
    filename = str(sites['城市'][i]+'-'+sites['站点'][i])
    group_df.to_excel(f'D:/Download/{filename}.xlsx', index=True)
    i+=1

In [18]:
# 将全部站点取平均并导出
sep2022.groupby(sep2022.index).mean().to_excel('D:/Download/6city_avg_2209.xlsx',index=True)

处理杭州市数据

In [21]:
hzsep = pd.read_excel('F:/Data/Project_Xiaoshan/202209/obsdata/hz_2209.xlsx',index_col=0)
hzsep

,AQI,PM2.5,PM2.5_24h,PM10,PM10_24h,SO2,SO2_24h,NO2,NO2_24h,O3,O3_24h,O3_8h,O3_8h_24h,CO,CO_24h,Station
datetime,,,,,,,,,,,,,,,,
2022-09-01 00:00:00,40.0,27.0,16.0,40.0,29.0,6.0,6.0,17.0,19.0,70.0,119.0,87.0,97.0,0.6,0.6,1
2022-09-01 01:00:00,26.0,8.0,16.0,23.0,29.0,5.0,6.0,11.0,18.0,82.0,119.0,82.0,82.0,0.4,0.6,1
2022-09-01 02:00:00,25.0,6.0,16.0,21.0,29.0,6.0,6.0,14.0,18.0,79.0,119.0,80.0,82.0,0.4,0.6,1
2022-09-01 03:00:00,22.0,9.0,16.0,22.0,28.0,6.0,6.0,16.0,18.0,70.0,119.0,77.0,82.0,0.4,0.6,1
2022-09-01 04:00:00,27.0,17.0,16.0,27.0,29.0,6.0,6.0,18.0,19.0,61.0,119.0,73.0,82.0,0.5,0.6,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-09-30 19:00:00,42.0,24.0,30.0,42.0,51.0,8.0,8.0,28.0,43.0,126.0,212.0,174.0,174.0,0.6,0.7,14
2022-09-30 20:00:00,41.0,23.0,30.0,41.0,51.0,8.0,8.0,30.0,42.0,103.0,212.0,170.0,174.0,0.6,0.7,14
2022-09-30 21:00:00,40.0,22.0,30.0,40.0,51.0,8.0,8.0,37.0,41.0,68.0,212.0,159.0,174.0,0.6,0.7,14
2022-09-30 22:00:00,40.0,23.0,30.0,40.0,51.0,8.0,8.0,42.0,41.0,46.0,212.0,141.0,174.0,0.6,0.7,14
2022-09-30 23:00:00,41.0,24.0,30.0,41.0,50.0,8.0,8.0,38.0,41.0,41.0,212.0,120.0,174.0,0.6,0.7,14

In [22]:
hzsep.groupby(hzsep.index).mean().to_excel('D:/Download/hz_avg_2209.xlsx',index=True)